@import '../utils/mixins.scss';

.imagenType{
    width: 50px;
};

.imagenType2 {
    width: 50px;
};


.container-Details-Local {
    @include column-center;
    padding: 0px;
    margin: 0px;
    height: auto;
};
