@import '../utils/mixins.scss';

* {
    margin: 0px;
    padding: 0px;
}

.imagenType{
    width: 10%;
}

.imagenType2 {
    width: 75%
}

.details-container {
    @include column-center;
    // padding: 3px;
    // margin: 3px;
}