@import '../utils/mixins.scss';

* {
    margin: 0px;
    padding: 0px;
}

.imagenType{
    width: 50px;
}

.imagenType2 {
    width: 50px;
}

.details-container {
    @include column-center;
}

.imgStylePokemon{
    width: 45%;
}

@media only screen and (min-width: 576px) {
    .imgStylePokemon{
        width: 35%;
    }

}

@media only screen and (min-width: 768px) {
    .imgStylePokemon{
        width: 25%;
    }

}

@media only screen and (min-width: 992px) {
    .imgStylePokemon{
        width: 20%;
    }

}