@import '../utils/variables.scss';
@import '../utils/variables.scss';

body{
    padding-top: 80px;
}

.header {
    min-height: 15vh;
    color: black;
    background-color: $shine-red;
    padding: 5px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    border: 3px black solid;

}

.iconNav {
    width: 15%;
}

@media only screen and (min-width: 576px) {

    .iconNav {
        width: 12%;
    }


}

@media only screen and (min-width: 768px) {

    .iconNav {
        width: 10%;
    }


}

@media only screen and (min-width: 992px) {

    .iconNav {
        width: 7%;
    }



}