@import '../utils/variables.scss';
@import '../utils/mixins.scss';


img {
    width: 48%;
}

section {
    text-align: center;
}

article {
    @include column-center;
    gap: 20px;

    width: 100%;
}



.main {
    @include row-center;
    padding: 40px 10px;
    min-height: 15vh;
    color: black;
    background-color: $pastel-yellow;
    margin: 0px;
}

@media only screen and (min-width: 576px) {


    article {
        gap: 50px;
    }

    .main {
        @include column-center;
    }
}
