@import '../utils/mixins.scss';

.searchSection {
    @include column-flex-start;
    gap: 10px;
};

.empty {
    height: 75vh;
};

.whitPokemons {
    height: 25vh;
    padding-bottom: 65px;
};

@media only screen and (min-width: 992px) {

    .whitPokemons {
        height: 25vh;
        padding-bottom: 130px;
    };

};
