@import '../utils/variables.scss';
input{
    border-radius: 15px;
    padding:5px;
    background-color: $orange;
};

select {
    border-radius: 15px;
    padding:5px;
    background-color: $orange;
};