$primary-color:blue;
$secondary-color:lightblue;
$primary-disabled:gray;
$secondary-disabled:lightgray;



$font:'Roboto', sans-serif;
$light-green: #8dff92;
$pastel-yellow:  #fdfd81;
$dark-red: #910720;
$shine-red: #d50221;
$orange: #fa8647;
$granate:#6a2e35;
$purple:#2e2836;
$black: black;
$shine-red2: #e63d56;
$magenta:rgb(137, 137, 231);
$shine-purple:rgba(214, 81, 226, 0.975);
$white: white;
