$primary-color:blue;
$secondary-color:lightblue;
$primary-disabled:gray;
$secondary-disabled:lightgray;


$font:'Roboto', sans-serif;
$light-green: #8dff92;
$pastel-yellow:  #fdfd81;
$dark-red: #910720;
$shine-red: #d50221;
$orange: #fa8647;
$granate:#6a2e35;
$purple:#2e2836;

// .color1 {color: #8dff92;}
// .color2 {color: #fdfd81;}
// .color3 {color: #910720;}
// .color4 {color: #d50221;}
// .color5 {color: #fa8647;}